@use 'colors';

.sts-body {
  width: 100%;
  margin: 16px;
  padding: 8px 16px;
  border-radius: 8px;
  border-width: 1px;
  border-style: solid;
  border-color: colors.$grey-color;
  >.sts-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}