@use "colors";

.sts-button {
  margin: 0 6px;
  > button {
    background-color: #3b8ede;
    color: #fff;
    border: 0;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
    > svg {
      margin-left: 8px;
    }
  }
  > :not(button:disabled):hover {
    background-color: darken(#3b8ede, 20%);
  }
  > button:disabled,
  > button[disabled] {
    opacity: 0.5;
    cursor: default;
  }
}

.sts-button:last-child {
  margin-right: 0;
}
