$light-color: #ffffff;
$dark-color: #0b3b60;
$primary-color: #418ecc;
$secondary-color: #fec72f;
$grey-color: #c4c4c4;
$bg-color: #cee3f6;

$status-green-color: #01c853;
$status-yellow-color: #fec107;
$status-red-color: #d74315;

$toggle-switch-bg-color: #d8d8d8;
$toggle-switch-border-color: #b9b9b9;
$toggle-switch-slider-disabled-color: #a4e1da;
$toggle-switch-slider-enabled-color: #46c3b3;
