@use "colors";

.sts-status {
  border-radius: 50%;
  padding: 2px;
  border-width: 2px;
  border-style: solid;
  margin-left: 4px;
  > .sts-status-circle {
    border-radius: 50%;
    width: 10px;
    height: 10px;
  }
}
.sts-status.green {
  border-color: colors.$status-green-color;
  > .sts-status-circle {
    background-color: colors.$status-green-color;
  }
}
.sts-status.yellow {
  border-color: colors.$status-yellow-color;
  > .sts-status-circle {
    background-color: colors.$status-yellow-color;
  }
}
.sts-status.red {
  border-color: colors.$status-red-color;
  > .sts-status-circle {
    background-color: colors.$status-red-color;
  }
}
