@use "colors";

.sts-toggle-switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 14px;
  margin: 0 4px;
  > .sts-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 1px;
    bottom: 0;
    background-color: colors.$toggle-switch-bg-color;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 12px;
    border: 1px solid colors.$toggle-switch-border-color;
  }

  > .sts-slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    right: -1px;
    bottom: -3.5px;
    background-color: colors.$toggle-switch-border-color;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 50%;
  }

  > input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  > input:checked + .sts-slider {
    background-color: colors.$toggle-switch-slider-disabled-color;
    border: 0;
  }

  > input:checked + .sts-slider:before {
    background-color: colors.$toggle-switch-slider-enabled-color;
    -webkit-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    transform: translateX(-20px);
  }
}
